body {
        font-family: Arial, sans-serif;
        background-color: #065b57;
               background-size: cover;
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        margin-bottom: 30px;
        word-spacing: 10px;
}